<div class="container">
<div class="row clearfix">
<div class="col-md-offset-3 column">
<div class="profil" id="profil">
</br></br></br>
    <form v-on:submit.prevent="registerUser()">
        <input type="text" placeholder="Username" v-model="profilDetails.username" required>
        <input type="text" placeholder="Email" v-model="profilDetails.email" required>
        <input type="password" placeholder="Password" v-model="profilDetails.password" required>
        Poste
        <select v-model="profilDetails.role" required>
          <option value="Top">Top</option>
          <option value="Jungle">Jungle</option>
          <option value="Mid">Mid</option>
          <option value="Adc">Adc</option>
          <option value="Support">Support</option>
        </select>
        <input type="text" placeholder="Nom Invocateur league of legend" v-model="profilDetails.nomInvocateur" required>
        <button type="submit" value="register" >Register</button>
    </form>
</div>
</div>
</div>
</div>
