
<div class="container">
<div class="row clearfix">
<div class="col-md-6 col-md-offset-3 column">
<div class="register" id="register">
    </br></br></br>
    <h2 style="color: #221194;">Register Page</h2>
    <form v-on:submit.prevent="registerUser()">
        <input type="text" placeholder="Username" v-model="registerDetails.username" required>
        <input type="text" placeholder="Email" v-model="registerDetails.email" required>
        <input type="password" placeholder="Password" v-model="registerDetails.password" required>
        Poste
        <select v-model="registerDetails.role" required>
          <option value="Top">Top</option>
          <option value="Jungle">Jungle</option>
          <option value="Mid">Mid</option>
          <option value="Adc">Adc</option>
          <option value="Support">Support</option>
        </select>
        <input type="text" placeholder="Nom Invocateur league of legend" v-model="registerDetails.nomInvocateur" required>
        <button type="submit" value="register" style="color: #221194;">Register</button>
    </form>

    <v-snackbar
          :timeout="toast.timeout"
          :color="toast.color"
          :multi-line="toast.mode === 'multi-line'"
          :vertical="toast.mode === 'vertical'"
          v-model="toast.snackbar"
        >
          {{ toast.text }}
          <v-btn dark flat @click.native="toast.snackbar = false">Close</v-btn>
        </v-snackbar>
</div>
</div>
</div>
</div>
